<div class="trailcam-date-filter">
    <input class="elFrom trailcam-date-filter-input"
           data-dojo-attach-point="elFrom"
           type="text"
           value="${dateFrom}"/>
    -
    <input class="elTo trailcam-date-filter-input"
           data-dojo-attach-point="elTo"
           type="text"
           value="${dateTo}"/>
</div>