@import '~material-design-lite/material.min.css';
@import '~ng-pick-datetime/assets/style/picker.min.css';

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

i.material-icons {
    font-family: 'Material Icons';
}

i.green {
  color: green;
}

i.red {
  color: red;
}

main.mdl-layout__content {
  padding: 8px;
}

.ng2-smart-pagination .ng2-smart-page-item {
  margin-left: 4px;
}

#main mdl-layout--fixed-drawer>.mdl-layout__content {
  margin-left: 0;
}

